<nav class="navbar navbar-white bg-white navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="custom-select">
      <!-- <div class="icons d-flex">
        <img
          src="../../../assets/imagens/iconBrasil.png"
          alt="Português"
          title="Português"
          class="me-2"
          (click)="trocarIdioma('pt')"
        />
        <img
          src="../../../assets/imagens/iconEUA.png"
          alt="English"
          title="English"
          (click)="trocarIdioma('en')"
        />
      </div>

      <select id="idiomaSelect" style="display: none;">
        <option value="pt">Português</option>
        <option value="en">English</option>
      </select> -->
    </div>

    <!-- Conteúdo alinhado à direita -->
    <div class="d-flex align-items-center">
      <ng-container *ngIf="user$ | async as Usuario, else login">
        <li class="nav-item dropdown me-3">
          <a class="nav-item ff-inter dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Olá {{nome}}
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-start" href="/editarCliente/{{ id }}">Meu perfil</a>
            </li>
            <li>
              <a class="dropdown-item text-start" [routerLink]="['/alterarSenha', id]" [queryParams]="{ alterarSenha: true }">
                Alterar Senha
              </a>
            </li>
          </ul>
        </li>
        <button class="btn btn-outline-dark" (click)="logout()">Sair</button>
      </ng-container>
    </div>
  </div>
</nav>

<ng-template #login class="d-flex justify-content-end">
  <button class="btn btn-outline-dark" routerLink="/login">Login</button>
</ng-template>
